.nav-tabs {
  width: 100%;
  min-height: 40px;
  align-self: stretch;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(168, 100%, 15%);
  border-bottom: 2.5px solid hsl(168, 100%, 20%);
}

.nav-tab {
  display: inline-block;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  flex-basis: 100%;
  font-family: "Syne Mono", monospace;
  font-size: 1.25rem;
  color: #eee;
  font-weight: 500;
  text-decoration: none;
}

.nav-tab:not(.nav-tab:last-child) {
  border-right: 1.5px solid rgba(0, 0, 0, 0.404);
}

.nav-tab:hover,
.nav-tab.active {
  background-color: hsl(168, 100%, 10%);
}

/* .nav-tab:visited {
} */
